@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
  
  .font-serif {
    font-family: 'Playfair Display', serif;
  }

  .font-lilita {
    font-family: 'Lilita One', cursive;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-gpu {
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}